body{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    background-color: #111;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    /* background: rgba(0, 0, 0, 0.671); */
    /* box-shadow: 0px 2px 5px rgb(255, 255, 255) ; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.103);
}

.header .logo{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 40px;
}

.header .items{
    list-style-type: none;
    display: flex;
    padding-right: 50px;
}

.header a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.header .home{
    color: rgb(229, 255, 0);
}

.header a:hover{
    color: rgb(229, 255, 0);
    /* border: 1px solid rgb(229, 255, 0); */
}

.header li{
    margin: 5px 15px;
}

.header .login{
    position: relative;
    margin: 4px;
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
    margin-right: 40px;
    color: rgb(229, 255, 0);
}


.title{
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin-top: 100px;
}

.loginbx{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.loginbx h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid;
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbx{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid;
}

.textbx i{
    width: 26px;
    float: left;
    text-align: center;
    margin-top: 10px;
}

.textbx input{
    border: none;
    outline: none;
    background: none;
    color: #fff;
    width: 80%;
    float: left;
    margin: 10px 10px;

}

.btn{
    position: relative;
    display: inline-block   ;
    margin-top: 30px;
    padding: 15px 30px;
    background: #fff;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: none;
    width: 100px;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: .2s;
    background: transparent;
}

.btn:hover{
    background :rgba(52, 54, 54, 0.596);
    color: #fff;
}


.loginbx a{
    color: #fff;
    margin-left: 20px;
    text-decoration: none;  
}

.loginbx a:hover{
    text-decoration: underline;
}
