*{
    margin: 0;
    padding: 0;
}

body{
    background: #111;
}

.title-head{
    color: #fff; 
    padding: 0 10%;
    /* position: fixed; */
}

.navigation{
    color: #fff;
}

.navbar-nav{
    text-align: center;
}

.brand-logo{
    font-size: 2.2rem;
    color: #fff;
    filter: invert();
    font-weight: 700;
}

.links{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 400;
    filter: invert();
}

.btns{
    filter: invert();
}

.conct{
    padding: 5% 10%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.conct h3{
    font-size: 3rem;
    /* text-align: center; */
    margin: 20px;
}

.conct form{
   /* margin-left: 50px; */
   padding: 1%;
}

.conct input{
    padding: 10px 30px;
    margin: 10px;
    border-radius: 5px;
    padding-right: 100px;
}

.conct textarea{
    padding: 10px 30px;
    height: 150px;
    margin: 10px;
    padding-right: 50px;
    border-radius: 5px;
    resize: vertical;
}

.conct .btn{
    background: #fff;
    padding: 10px 30px;
    text-align: center;
    margin-top: 10px;
    margin-left: 27px;
}

.user{
    float: right;
    color: #fff;
    margin-top: 20px;
    margin-right: 30px;
}

.rem{
    margin-top: 2px;
    margin-left: 35px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(51, 51, 51, 0.123);
}

.footer .sci{
    position: relative;
    display: flex;
}

.footer .sci li{
    list-style: none;
}

.footer .sci li a{
    text-decoration: none;
    margin: 0 20px;
}

.footer .sci li a i{
    padding: 1.4rem 0;
    max-width: 40px;
    font-size: 30px;
    color: #fff;
    transition: .3s;
}

.footer .fb:hover{
    color: #3b5998;
    transform: translateY(-10px);
}

.footer .ig:hover{
    color:  #9b3f72;
    transform: translateY(-10px);
}

.footer .tw:hover{
    color:  #00acee;
    transform: translateY(-10px);
}

.footer .yt:hover{
    color:  #FF0000;
    transform: translateY(-10px);
}

.copyrights{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    color: #665;
    text-align: center;
}

.copyrights a{
    color: #fff;
    text-decoration: none;
}

@media (max-width: 500px)
{

    .fix{
        padding: 0;
    }   

    .sticky{
        padding: 0 1%;
    }
}

